<div ng-controller="catalogController">
	<top-sellers></top-sellers>

	<div class="row">
		<div class="col-xs-6 col-md-4 col-lg-3 catalog-game" ng-repeat="game in games">
			<a href="/Dandy-Game-Shop/#!/item/{{game.id}}">
				<img ng-src="{{game.image.cover}}" alt="{{game.title}}" class="img-responsive" />
			</a>
			<div class="catalog-price-container">
				<span class="catalog-price">${{game.price | number : 2}}</span>
				<input type="button" class="btn btn-warning catalog-button" ng-click="addToCart(game.id, 1)" value="Add to Cart" />
			</div>
		</div>
	</div>

	<!--
	<table class="table">
		<tr>
			<th>ID</th>
			<th>Cover</th>
			<th>Title</th>
			<th>Price</th>
			<th></th>
			<th></th>
		</tr>
		<tr ng-repeat="game in games">
			<td>{{game.id}}</td>
			<td><img ng-src="{{game.image.cover}}" alt="{{game.title}}" /></td>
			<td>{{game.title}}</td>
			<td>${{game.price | number : 2}}</td>
			<td><a href="/Dandy-Game-Shop/#!/item/{{game.id}}">View</a></td>
			<td><a data-ng-click="addToCart(game.id, 1)">Add To Cart</a></td>
		</tr>
	</table>
	-->
</div>