<div ng-controller="checkoutController">
    <div class="row">
        <div class="col-xs-12 checkout-header">
            <h1 class="checkout-header">Checkout</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-lg-push-8 col-md-push-6 col-sm-push-6">
            <div class="checkout-summary">
                <header><h2>Cart</h2></header>
                <div class="checkout-items">
                    <ul>
                        <li class="checkout-item row" ng-repeat="game in cartItems">
                            <div class="checkout-image col-xs-3">
                                <img class="img-responsive" ng-src="{{game.image.cover}}" />
                            </div>
                            <div class="checkout-details col-xs-9">
                                <h3>{{game.title}}</h3>
                                <div class="checkout-price">${{game.price}} x {{game.quantity}}</div>
                                <div class="checkout-total">${{game.price * game.quantity}}</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <footer><em>Total: ${{total|number:'2'}}</em></footer>
            </div>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 col-lg-pull-4 col-md-pull-6 col-sm-pull-6">
            <div class="row">
                <div class="col-xs-12 col-sm-6 form-group">
                    <label for="first-name">First Name</label>
                    <input id="first-name" class="form-control" type="text" />
                </div>
                <div class="col-xs-12 col-sm-6 form-group">
                    <label for="last-name">Last Name</label>
                    <input id="last-name" class="form-control" type="text" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-group">
                    <label for="address">Address</label>
                    <input id="address" class="form-control" type="text" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 form-group">
                    <label for="city">City</label>
                    <input id="city" class="form-control" type="text" />
                </div>
                <div class="col-xs-12 col-sm-4 form-group">
                    <label for="state">State</label>
                    <select id="state" class="form-control">
                        <option></option>
                        <option>Alabama</option>
                        <option>Alaska</option>
                        <option>Arizona</option>
                        <option>Arkansas</option>
                        <option>California</option>
                        <option>Colorado</option>
                        <option>Connecticut</option>
                        <option>Delaware</option>
                        <option>Florida</option>
                        <option>Georgia</option>
                        <option>Hawaii</option>
                        <option>Idaho</option>
                        <option>Illinois</option>
                        <option>Indiana</option>
                        <option>Iowa</option>
                        <option>Kansas</option>
                        <option>Kentucky</option>
                        <option>Louisiana</option>
                        <option>Maine</option>
                        <option>Maryland</option>
                        <option>Massachusetts</option>
                        <option>Michigan</option>
                        <option>Minnesota</option>
                        <option>Mississippi</option>
                        <option>Missouri</option>
                        <option>Montana</option>
                        <option>Nebraska</option>
                        <option>Nevada</option>
                        <option>New Hampshire</option>
                        <option>New Jersey</option>
                        <option>New Mexico</option>
                        <option>New York</option>
                        <option>North Carolina</option>
                        <option>North Dakota</option>
                        <option>Ohio</option>
                        <option>Oklahoma</option>
                        <option>Oregon</option>
                        <option>Pennsylvania</option>
                        <option>Rhode Island</option>
                        <option>South Carolina</option>
                        <option>South Dakota</option>
                        <option>Tennessee</option>
                        <option>Texas</option>
                        <option>Utah</option>
                        <option>Vermont</option>
                        <option>Virginia</option>
                        <option>Washington</option>
                        <option>West Virginia</option>
                        <option>Wisconsin</option>
                        <option>Wyoming</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-4 form-group">
                    <label for="zip">Zip</label>
                    <input id="zip" class="form-control" type="text" />
                </div>
            </div>
            <div class="secure-fields">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 form-group">
                        <label for="card-number">Card Number</label>
                        <input id="card-number" class="form-control" type="number" />
                    </div>
                    <div class="col-xs-12 col-sm-6 form-group">
                        <label for="name-on-card">Name on Card</label>
                        <input id="name-on-card" class="form-control" type="text" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-xs-6 form-group">
                        <label for="expiration-month">Month</label>
                        <select id="expiration-month" class="form-control">
                            <option></option>
                            <option>01 - January</option>
                            <option>02 - February</option>
                            <option>03 - March</option>
                            <option>04 - April</option>
                            <option>05 - May</option>
                            <option>06 - June</option>
                            <option>07 - July</option>
                            <option>08 - August</option>
                            <option>09 - September</option>
                            <option>10 - October</option>
                            <option>11 - November</option>
                            <option>12 - December</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-6 form-group">
                        <label for="expiration-year">Year</label>
                        <select id="expiration-year" class="form-control">
                            <option></option>
                            <option>2017</option>
                            <option>2018</option>
                            <option>2019</option>
                            <option>2020</option>
                            <option>2021</option>
                            <option>2022</option>
                            <option>2023</option>
                            <option>2024</option>
                            <option>2025</option>
                            <option>2026</option>
                            <option>2027</option>
                            <option>2028</option>
                            <option>2029</option>
                            <option>2030</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-6 form-group">
                        <label for="security-code">CVV</label>
                        <input id="security-code" class="form-control" type="number" />
                    </div>
                    <div class="col-lg-3 col-md-6 form-group">
                        <label for="billing-zip">Billing Zip Code</label>
                        <input id="billing-zip" class="form-control" type="number" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 checkout-submit">
                    <a href="/Dandy-Game-Shop/#!/receipt" class="btn btn-warning btn-lg checkout-button">Checkout <span class="glyphicon glyphicon-shopping-cart"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>