<div ng-controller="gameController">
	<div class="row">
		<div class="item-image col-md-3 col-sm-4 col-xs-12">
			<img ng-src="{{game.image.cover}}" alt="{{game.title}}" class="img-responsive" />
		</div>
		<div class="item-details col-md-6 col-sm-5 col-xs-12">
			<p ng-repeat="summary in game.summary">{{summary}}</p>
		</div>
		<div class="item-numbers col-md-3 col-sm-3 col-xs-12">
			<div class="score-label">Dandy Rating</div>
			<div class="item-score">
				<span ng-class="{'score-low': game.score <= 40, 'score-med': (game.score > 40 && game.score <= 70), 'score-high': game.score > 70}">{{game.score}}</span>/100
			</div>
			<span class="item-price">${{game.price | number : 2}}</span>
			<a class="btn btn-warning" title="Add to Cart" ng-click="addToCart(game.id, 1)"><span class="glyphicon glyphicon-shopping-cart"></span></a>
		</div>
	</div>
</div>