<div ng-controller="receiptController">
    <div class="jumbotron receipt-jumbotron">
        <h1>Stop!!</h1>
        <p>
            You have just attempted to buy games from a fake retail website that doesn't exist. While I thank you for your interest,
    		I only made this website in order to practice my web design skills. Don't worry. Your payment details were not
    		sent anywhere. Hopefully, you had a pleasant experience.
        </p>
        <p>
            We thank you for visiting the <span class="receipt-site-title">Dandy Game Shop</span>.
        </p>
    </div>
</div>